@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital@0;1&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  background: url('../../../../Assets/_images/overlay_stars.svg') left top repeat,
  linear-gradient(to right bottom, #a9347e, #4b32a7);
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
}
