.no-data {
  .container-div {
    position: absolute;
    left: 50%;
  }

  h2 {
    font-family: Rajdhani;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
  }
}
