.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 1px;
  z-index: 2;

  strong {
    font-size: 10rem;
    color: white;
  }

  p {
    font-weight: 700;
    text-align: center;
    color: white;
  }

  .title {
    font-size: 1.5rem;
    color: var(--button);
    margin-bottom: 2rem;
  }

  &-text {
    max-width: 500px;
    margin-bottom: 4rem;
  }
}
