.user-details-card {
  height: 100vh;
  overflow: auto;
  .masonry-wrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
    .my-masonry-grid_column {
      overflow: hidden; //added to fix double-scroll
      transition: 1s ease-in-out width;
    }
  }

  .Orders{
    .my-masonry-grid_column{
      width: 100%!important; //for order table width
    }
  }

  .settingIconDiv{
    background-color: rgb(252, 247, 247);
    width: 140px;
    border-radius: 0.5rem ;
    padding: 15px;


    span{
      margin: 3px 0px;
      padding: 15px;
      cursor: pointer;

      &:hover{
        color: black;
        font-weight: 500;
      }
    }

    .active{
      color: black;
        font-weight: 500;
    }
  }
}

.masonry-skeleton{
  display: flex;
  gap: 1rem;
  width: 100%;
}

.order-vh{
  height: auto;
}