.custom-file-container {
  .media-file {
    width: 140px;
    height: 140px;
    overflow: hidden;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23ADADADFF' stroke-width='4' stroke-dasharray='7%2c 15' stroke-dashoffset='10' stroke-linecap='square'/%3e%3c/svg%3e");
    // opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;

    img {
      width: 140px;
      height: 140px;
      border-radius: 8px;
      object-fit: cover;
    }

    .pdf-image {
      width: 30px;
      height: 30px;
      border-radius: 8px;
      object-fit: cover;
    }

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      word-break: break-all;
      text-decoration-line: underline;
      color: #0792F7;
      text-align: center;
      font-family: "DM Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;

    }
  }

  .custom-file-upload {
    display: none;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    // background: #262626;
    color: #fff;
    text-align: center;
    font-family: Rajdhani;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }

  .upload-button {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #262626;
    color: #fff;
    text-align: center;
    font-family: Rajdhani;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
    cursor: pointer;
  }
  .upload-button.disabled{
    opacity: 0.5;
    cursor:not-allowed;
  }
}

.upload-thumbnail {
  display: flex;
  flex-direction: row-reverse;

  .thumbnail-message {
    display: none;

  }

  .thumbnail-error-message {
    color: red;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 138px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
