.masonry-layout-wrapper {
  .my-masonry-grid {
    display: flex;
    gap: 1rem;
    width: 100%;

    .masonry-grid {
      width: 100%;
    }

    .my-masonry-grid_column {
      transition: 1s ease-in-out width;
    }
  }
}
