.forget-password {
  max-width: 420px;
  min-height: 774px;
  display: flex;
  flex-direction: column;
  gap: 43px;

  .logo {
    display: flex;
    justify-content: start;
  }

  .heading-container {
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    gap: 19px;

    .heading {
      color: #100124;
      font-family: DM Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      letter-spacing: -0.5px;
    }

    .sub-heading {
      color: #716A79;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      span {
        color: #434343;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
      }
    }

    .global-error-msg {
      color: #FF1414;
      font-family: "DM Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;
    }
  }

  .forget-form {
    display: flex;
    flex-direction: column;
    gap: 46px;

    .forget-form-field {
      display: flex;
      flex-direction: column;
      position: relative;

      .forget-label {
        color: #2E3134;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px;
      }

      .forget-input {
        border-radius: 5px;
        border: 1px solid #D3D3D3;
        background: #FFF;
        box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.20);
        height: 40px;
        width: 100%;
        color: #716A79;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        padding-left: 15px;
        margin-top: 10px;

        &:focus-visible {
          outline: none;
          border: 1px solid #C34AC3;
        }
      }

      .form-error {
        color: #FF1414;
        font-family: DM Sans;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        margin: 5px;
      }
    }

    .forget-btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 38px;

      .forget-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        background: linear-gradient(114deg, #FFCB14 0%, #FE9417 26.56%, #FF2DF7 79.86%, #D150FF 100%);
        height: 40px;
        width: 100%;
        border: none;
        color: #FFF;
        font-family: Rajdhani;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-top: 3px;
        cursor: pointer;

        span {
          width: 20px;
          height: 20px;
        }
      }

      .disable {
        display: inline;
        opacity: 0.5;
        cursor: not-allowed;
      }

      .back {
        color: #C34AC3;
        text-align: right;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;


        span {
          cursor: pointer;
        }
      }
    }
  }
}

.toast {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);

  .bg-message {
    background: #55ab31;
    color: #fefefe;
    white-space: nowrap;
  }
  .bg-error-message{
    background: red;
    color: #fefefe;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .forget-password {
    max-width: 350px;
  }
}

@media only screen and (min-width: 440px) and (max-width: 767px) {
  .forget-password {
    max-width: 410px;

    .heading-container {
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 440px) {
  .forget-password {
    max-width: 270px;
    margin-bottom: 30px;
    gap: 23px;

    .logo {
      width: 150px;
    }

    .heading-container {
      margin-top: 14px;

      .heading {
        font-size: 23px;
      }
    }
  }
}
@media only screen and (min-width: 240px) and (max-width: 319px){
  .forget-password {
    max-width: 270px;
    margin-bottom: 30px;
    gap: 23px;

    .logo {
      width: 100px;
    }

    .heading-container {
      margin-top: 12px;

      .heading {
        font-size: 16px;
      }
    }
  }

}
