.image-card {
  min-height: 316px;
  width: 100%;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 1px 4px 1px #ddd;
  display: flex;

  &:hover {
    .image-icon-absolute {
      display: none;
    }

    .image-blur-overlay {
      display: unset;
    }
  }

  .asset-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
  }

  .image-icon-absolute {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 1;
  }

  .on-sale-absolute {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 77px;
    height: 23px;
    border-radius: 30px;
    background-color: #18181866;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    border: 1px solid #FFFFFFA3;
  }

  .image-blur-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    background: #41414180;
    backdrop-filter: blur(16.5px);
    background: rgba(0, 0, 0, 0.48);
    z-index: 1;

    .overlay-card {
      height: 100%;
      position: relative;
      padding: 16px 16px 0 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .file-right-icon{
          background: transparent;
          border: none;
        }

        .bidding-time-wrapper {
          display: flex;
          align-items: center;

          .bidding-live-indicator {
            position: relative;
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            margin: 10px;
            background: #02C715;

            &:before {
              background: #02C715;
              content: '';
              position: absolute;
              display: block;
              left: -5px;
              top: -5px;
              width: 25px;
              height: 25px;
              border-radius: 50%;
              animation: pulse 1.2s infinite ease-in;
            }
            &.closed {
              background: #FF0000;
              &:before {
                background: #FF0000;
              }
            }
          }

          .bidding-date {
            color: #FFF;

            text-align: center;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;

            b {
              font-weight: 600;
            }

          }
        }

        .like-unlike {
          display: flex;
          align-items: center;
          cursor: pointer;

          .like-icon {
            &.like {
              svg {
                & circle {
                  stroke: transparent;
                }
                & path {
                  fill: red;
                }
              }
            }
          }
        }
      }

      .physical-asset-badge {
        background: #D9D9D9;
        color: #000;
        width: max-content;
        border-radius: 30px;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: 7px;
        margin: 0 auto;
      }

      .asset-description {
        margin-top: 0;
        height: calc(100% - 120px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .catalogue-name {
          color: #FFF;
          text-align: center;
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: uppercase;
        }

        .asset-name {
          margin-top: 5px;
          color: #FFF;
          text-align: center;
          font-family: DM Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow-wrap: anywhere;
        }

        .asset-price {
          color: #FFF;
          text-align: center;
          font-family: DM Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-top: 25px;
          display: flex;
          align-items: center;
          justify-content: center;

          b {
            font-weight: 600;
          }

        }
      }

      .offer-card{
        margin-bottom: 40px;
      }

      .footer {
        //position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .img-cards-main-wrapper {
    .blur-overlay {
      .text-blur-overlay {
        gap: 20px;

        .details {
          gap: 8px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .img-cards-main-wrapper {
    .blur-overlay {
      .text-blur-overlay {
        gap: 20px;

        .details {
          gap: 8px;
        }
      }
    }
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
    opacity: 1;
  }

  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
